USE [master]
GO
DROP DATABASE [GI2223]
GO
/****** Object:  Database [GI2223]    Script Date: 18/10/2022 13:38:17 ******/
CREATE DATABASE [GI2223]
GO
USE [GI2223]
GO
/****** Object:  Table [dbo].[Bajista]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bajista](
	[NIF] [varchar](50) NOT NULL,
	[MARCA_BAJO] [varchar](50) NULL,
	[NUM_CUERDAS] [int] NULL,
 CONSTRAINT [PK_Bajista] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Baterista]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Baterista](
	[NIF] [varchar](50) NOT NULL,
	[MARCA_BATERIA] [varchar](50) NULL,
	[NUM_BOMBOS] [int] NULL,
	[NUM_PLATOS] [int] NULL,
 CONSTRAINT [PK_Baterista] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cancion]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cancion](
	[ID_CANCION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DURACION] [int] NOT NULL,
 CONSTRAINT [PK_Cancion] PRIMARY KEY CLUSTERED 
(
	[ID_CANCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID_GRUPO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[ID_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guitarrista]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Guitarrista](
	[NIF] [varchar](50) NOT NULL,
	[MARCA_GUITARRA] [varchar](50) NULL,
 CONSTRAINT [PK_Guitarrista] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Musico]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Musico](
	[NIF] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ID_GRUPO] [int] NOT NULL,
 CONSTRAINT [PK_Musico] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tocan]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tocan](
	[ID_GRUPO] [int] NOT NULL,
	[ID_CANCION] [int] NOT NULL,
 CONSTRAINT [PK_Tocan] PRIMARY KEY CLUSTERED 
(
	[ID_GRUPO] ASC,
	[ID_CANCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPermiso]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPermiso](
	[rolName] [varchar](50) NOT NULL,
	[pantalla] [varchar](50) NOT NULL,
	[Acceso] [bit] NULL,
	[insertar] [bit] NULL,
	[modifcar] [bit] NULL,
	[borrar] [bit] NULL,
 CONSTRAINT [PK_tPermiso] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC,
	[pantalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tRol]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tRol](
	[rolName] [varchar](50) NOT NULL,
	[rolDes] [varchar](250) NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_tRol] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tUsers]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tUsers](
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tUsers] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vocalista]    Script Date: 18/10/2022 13:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vocalista](
	[NIF] [varchar](50) NOT NULL,
	[ESTILO] [varchar](50) NULL,
	[REGISTRO] [varchar](50) NULL,
 CONSTRAINT [PK_Vocalista] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Musico]  WITH NOCHECK ADD  CONSTRAINT [FK_Musico_Bajista] FOREIGN KEY([NIF])
REFERENCES [dbo].[Bajista] ([NIF])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musico] NOCHECK CONSTRAINT [FK_Musico_Bajista]
GO
ALTER TABLE [dbo].[Musico]  WITH NOCHECK ADD  CONSTRAINT [FK_Musico_Baterista] FOREIGN KEY([NIF])
REFERENCES [dbo].[Baterista] ([NIF])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musico] NOCHECK CONSTRAINT [FK_Musico_Baterista]
GO
ALTER TABLE [dbo].[Musico]  WITH CHECK ADD  CONSTRAINT [FK_Musico_Grupo] FOREIGN KEY([ID_GRUPO])
REFERENCES [dbo].[Grupo] ([ID_GRUPO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musico] CHECK CONSTRAINT [FK_Musico_Grupo]
GO
ALTER TABLE [dbo].[Musico]  WITH NOCHECK ADD  CONSTRAINT [FK_Musico_Guitarrista] FOREIGN KEY([NIF])
REFERENCES [dbo].[Guitarrista] ([NIF])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musico] NOCHECK CONSTRAINT [FK_Musico_Guitarrista]
GO
ALTER TABLE [dbo].[Musico]  WITH NOCHECK ADD  CONSTRAINT [FK_Musico_Vocalista] FOREIGN KEY([NIF])
REFERENCES [dbo].[Vocalista] ([NIF])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Musico] NOCHECK CONSTRAINT [FK_Musico_Vocalista]
GO
ALTER TABLE [dbo].[Tocan]  WITH CHECK ADD  CONSTRAINT [FK_Tocan_Cancion] FOREIGN KEY([ID_CANCION])
REFERENCES [dbo].[Cancion] ([ID_CANCION])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tocan] CHECK CONSTRAINT [FK_Tocan_Cancion]
GO
ALTER TABLE [dbo].[Tocan]  WITH CHECK ADD  CONSTRAINT [FK_Tocan_Grupo] FOREIGN KEY([ID_GRUPO])
REFERENCES [dbo].[Grupo] ([ID_GRUPO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tocan] CHECK CONSTRAINT [FK_Tocan_Grupo]
GO
ALTER TABLE [dbo].[tPermiso]  WITH CHECK ADD  CONSTRAINT [FK_tPermiso_tRol1] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tPermiso] CHECK CONSTRAINT [FK_tPermiso_tRol1]
GO
ALTER TABLE [dbo].[tUsers]  WITH CHECK ADD  CONSTRAINT [FK_tUsers_tRol] FOREIGN KEY([rol])
REFERENCES [dbo].[tRol] ([rolName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tUsers] CHECK CONSTRAINT [FK_tUsers_tRol]
GO

DELETE Grupo;
GO
INSERT INTO Grupo VALUES(1,'LED ZEPPELIN');
GO
INSERT INTO Grupo VALUES(2,'ROLLING STONES THE');
GO
INSERT INTO Grupo VALUES(3,'QUEEN');
GO
DELETE Cancion;
GO
INSERT INTO Cancion (NOMBRE, DURACION) VALUES('STAIRWAY TO HEAVEN',1);
GO
INSERT INTO Cancion (NOMBRE, DURACION) VALUES('SATISFACTION (I CAN`T GET NO)',2);
GO
INSERT INTO Cancion (NOMBRE, DURACION) VALUES('BOHEMIAN RHAPSODY',3);
GO
DELETE Tocan;
GO

INSERT INTO Tocan VALUES(1,1);
INSERT INTO Tocan VALUES(2,2);
INSERT INTO Tocan VALUES(3,3);
GO
DELETE Musico;
DELETE Vocalista;
DELETE Baterista;
DELETE Bajista
DELETE Guitarrista
GO

INSERT INTO Musico VALUES('M1','James Hetfield',19);
INSERT INTO Musico VALUES('M2','Lars Ulrich',19);
INSERT INTO Musico VALUES('M3','Kirk Hammett',19);
GO
INSERT INTO Vocalista VALUES ('M1','Heavy Metal','Barítono');
INSERT INTO Baterista VALUES ('M2','Tama',7,7);
INSERT INTO Guitarrista VALUES ('M3','Spider');
INSERT INTO Bajista VALUES ('M4','Fernandes',5);
GO


INSERT INTO Vocalista VALUES ('M5','Heavy Metal','Tenor');
INSERT INTO Guitarrista VALUES ('M6','Gibson Angus Young SG');
INSERT INTO Guitarrista VALUES ('M7','Fender Mustang');
INSERT INTO Bajista VALUES ('M8','StingRay Bass',4);
INSERT INTO Baterista VALUES ('M9','Sonor',4,8);
GO

